*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-size:.14rem;    // =14px;  
}
html,body,.box{
	width:100%;
	height:100%;
}
a{
	text-decoration: none;
	color: #000;
}
ul,ol{
	list-style: none;
}
b,strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
html{
	font-size:625%;
}
.box{
	display:flex;
	flex-direction:column;
	background: rgba(0,0,0,0.4);
}
/*header{
	width:100%;
	height:.4rem;
	background:red;
}
footer{
	width:100%;
	height:.4rem;
	background:blue;
}*/
section{
	width:100%;
	flex:1;
	overflow-y:scroll;
	.main{
		width: 95%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		border-radius: .05rem;
		margin:  10% 0% 5% 2%;
		img{
			width: 60%;
			padding: .2rem .2rem 0 .2rem;
		}
		p{
			width: 100%;
			text-align: center;
			padding: .05rem 0 .1rem 0;
		}
		ul{
			width: 100%;
			li{
				width: 95%;
				display: flex;
				margin: 0 auto;
				align-items: center;
				justify-content: center;
				border-bottom: .01rem solid #ccc;
				padding: .3rem 0 .0rem 0;
				img{
					width: 20%;
					padding-bottom: .1rem;
				}
				input{
					width: 80%;
					border:none;
					outline: none;
				}
			}
		}
		button{
			width: 70%;
			color: #fff;
			background: pink;
			border-radius: .05rem;
			border:none;
			padding: .04rem 0;
			margin: 10% 0 20% 0;
			outline: none;
		}
	}
}